* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 
body {
   font-family: sans-serif;
}
 
ul {
   list-style: none;
}
 
a {
   display: inline-block;
   text-decoration: none;
}
 
img {
   display: inline-block;
}
 
span {
   display: inline-block;
}
 
button {
   cursor: pointer;
}
 
.container {
   width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}
.vedeo-wrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 700px;
    height: 400px;
    background-color: white;
}